@use "./componant/variabols";
@use "./componant/Reset";
@use "./componant/GlobasStyle";
@use "./componant/heading";
@use "./componant/bio";
@use "./componant/skills";
@use "./componant/midea";
@use "./componant/projects";
@use "./componant/clients";
@use "./componant/contact";
@use "./componant/footer";
@use "./componant/Theme";
@use "./componant/responsive";
