@import "./mixins";

.bio {
  @include tow_coulumns(7.4rem, 0);
}

.bio__heading {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
}

.bio__objective {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  margin: 5rem 0 8rem 0;
}

.bio__name {
  font-weight: var(--font-weight-semi-bold);
}
.bio__Almadrasa {
  color: var(--color-dark-green);
}
.bio__linkedIn {
  color: var(--color-dark-blue);
}
.bio__links {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
}
.say-hi-link {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.7rem 4.7rem;
}

.find-out-link {
  padding: 0.7rem 0;
  margin: inline start 1.4rem;
}
@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.bio__arrow {
  display: inline-block;
  animation: jump 1s infinite alternate ease-in-out;
  font-size: var(--font-size-24);
}
.image {
  width: 42.7rem;
  padding-top: 0;
  align-self: flex-start;
  border-radius: 1.8rem;
  max-width: 100%;
}
.bio__pic-content {
  display: flex;
  position: relative;
  justify-self: end;
  align-items: end;
  align-self: start;
}
.bio__pic-content::before {
  content: "";
  position: absolute;
  background-color: var(--color-box-img);
  width: 100%;
  height: 39rem;
  z-index: -1;
  border-radius: 1.8rem;
  box-shadow: 2.175px 8.7px 30px rgb(0, 0, 0, 0.5);
}
