/* header */

.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* لضمان ظهوره فوق العناصر الأخرى */
  padding: 3rem 0;
  display: flex;
  background-color: var(--color-background);
  justify-content: center;
  align-self: start;
}
.header::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  border-bottom: 0.1rem solid var(--color-input-border);
  z-index: -1;
  top: 0.1rem;
  background-color: var(--color-background);
}
/*End header */

/* Navigation */
.navigation {
  transition: var(--transition-timing);
  background-color: var(--color-background);
}
.navigation_list {
  display: flex;
  gap: 2rem;
}

.navigation_link:link,
.navigation_link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  transition: all var(--transition-timing);
}

.navigation_link:hover,
.navigation_link:active {
  /* color: var(--color-text); */
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#media:target) .navigation__media,
.container:has(#projects:target) .navigation__projects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
}
.burger-menu__checkbox {
  display: none;
}
/*End Navigation */

/* Toggle */
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}

.toggle__checkbox {
  display: none;
}

.toggle__label {
  display: block;
  position: relative;
  background-color: var(--color-black);
  border-radius: 1.5rem;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: background-color 0.3s;
}
.toggle__label::after {
  content: "";
  background-color: var(--color-white);
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  display: block;
  transition: 0.3s;
}
/* psodu class بيعرفني الكود هل البوكس معموله اتشيك ولا لا وبناءا عليه هينفذ الي جاي */

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}

.toggle__checkbox:checked + .toggle__label::after {
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}

/* end toggle */
