/* CSS Reset */

html,
body  {
  font-size: 62.5%;
  overflow-x: visible;

  /* 1rem = 10px */
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  display: inline-block;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}
ul,
ol {
  list-style: none;
}

/* End CSS Reset */
