/*Start Skills  */

.skills {
  background-color: var(--color-grey);
}

.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 7rem;
  column-gap: 15rem;
  /* padding-left: 5rem; */
}
.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}
.skills__years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
}
.skills__item {
  transition: var(--transition-timing);
  user-select: none;
}
.skills__item:hover {
  transform: translateY(-6px);
  text-shadow: 2px 2px 20px var(--color-green);
}

/* End skills */
